.patient_basic_info_container {
    padding: 20px 12px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #bcbcbc;
}

.left_container {
    color: #bcbcbc;
    font-weight: 500;
    font-size: 15px;
}

.right_container {
    color: #2c2b2b;
    font-weight: 500;
    font-size: 15px;
}

.icon {
    color: #002647;
}

.red_icon {
    color: #df0100;
}

table {
    border-collapse:separate; 
    border-spacing: 0 8px;
}

tr > * + * {
    padding-left: 40px;
}